body {
  background-color: #2e2d2d; /* Mörk ram */
  color: #333;
  display: flex;
  justify-content: center; /* Centrerar horisontellt */
  align-items: center; /* Centrerar vertikalt */
  height: 100vh;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f4f4f4;
}

.app-container {

  width: 90vw; /* Tar upp 90% av skärmens bredd */
  height: 90vh; /* Tar upp 90% av skärmens höjd */
  max-width: 1200px; /* Sätter en maxbredd för större skärmar */
  background: rgb(24, 23, 23); /* Gör själva boxen vit */
  padding: 20px;
  border-radius: 8px; /* Rundade hörn */
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
}

.note-input {
  color: orange;
  background-color: rgb(124, 119, 119);
  width: 200px;
  height: 100px;
  border-radius: 5px;
}

.save-button {
  background: linear-gradient(45deg, #2e7247, #256c6e);
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.save-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 0, 255, 0.5);
}

.save-button:active {
  transform: scale(0.9);
}

.note-container {
  background-color: rgb(83, 81, 81);
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
}

.note-box {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 15px;
  transition: 0.3s ease;
  margin-top: 10px;
}




