body {
  background-color: #2e2d2d; /* Mörk ram */
  color: #333;
  display: flex;
  justify-content: center; /* Centrerar horisontellt */
  align-items: center; /* Centrerar vertikalt */
  height: 100vh;
  margin: 0;
  padding: 0;
}

.outer-container {

  width: 90vw; /* Tar upp 90% av skärmens bredd */
  height: 90vh; /* Tar upp 90% av skärmens höjd */
  max-width: 1200px; /* Sätter en maxbredd för större skärmar */
  background: rgb(255, 255, 255); /* Gör själva boxen vit */
  padding: 20px;
  border-radius: 8px; /* Rundade hörn */
}

.input-container {
  background-color: red;
  padding: 10px;
}

.save-button {
  color: blue;
}

.note-container {
  background-color: rgb(83, 81, 81);
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
}

.note-box {
  margin-top: 5px;
  background-color: aliceblue;
}


